html { 
	background: url(../img/homepage.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.IOne-modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
    -webkit-animation-name: fadeIn; 
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
	margin: 31px auto auto auto !important;
}

.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {max-height: 300px;overflow: auto;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

#sticky-social {
   left: 0;
   position: fixed;
   top: 150px;
   z-index: 2;
}
#sticky-social a {
   background: #333;
   color: #fff;
   display: block;
   height: 35px;
   font: normal normal normal 14px/1 FontAwesome;
   line-height: 35px;
   position: relative;
   text-align: center;
   width: 35px;
}
#sticky-social a span {
   line-height: 35px;
   left: -120px;
   position: absolute;
   text-align:center;
   width:120px;
}
#sticky-social a:hover span {
   left: 100%;
}
#sticky-social a[class*="loc1"],
#sticky-social a[class*="loc1"]:hover,
#sticky-social a[class*="loc1"] span { background: #3b5998; }

#sticky-social a[class*="loc2"],
#sticky-social a[class*="loc2"]:hover,
#sticky-social a[class*="loc2"] span { background: #00aced; }
nav{
	background-color: #4c9ed9 !important;
}
.body-container{
	padding:20px;
}
.homepage-text-color{
	color:#FFF !important;
}
.body-links a{
	color:#FFF !important;
}
.body-links a:hover,.body-links .breadcrumb::before{
	color:#4c9ed9 !important;
}
.wrap_controls{
	display:none;
}
.infoBox{
	margin-left: 40px !important;
	
}
.i-box {
	width: 106px;
	color:#333;
	background-color:#FFF;
	padding:2px 2px 2px 2px;
	-webkit-box-shadow: 0px -2px 36px 9px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px -2px 36px 9px rgba(0,0,0,0.14);
	box-shadow: 0px -2px 36px 9px rgba(0,0,0,0.14);
}

.i-str {
	background-color:#f5f5f5;
	margin-bottom:1px;
	padding:2px 2px 2px 2px;
}
.filters{
	width:100px;
	height:300px;
	background-color:#f5f5f5;
	position:absolute;
	right:30px;
	top: -202px;
	/*top: 20px;*/
	z-index:100;
	-webkit-box-shadow: 0px -2px 36px 9px rgba(0,0,0,0.14);
	-moz-box-shadow: 0px -2px 36px 9px rgba(0,0,0,0.14);
	box-shadow: 0px -2px 36px 9px rgba(0,0,0,0.14);
}
.sign {
	position: absolute;
    bottom: 0px;
    color: #FFF;
    width: 100%;
    background-color: #4c9ed9;
    padding: 3px;
	cursor:pointer;
}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 80px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 80px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 80px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 80px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 80px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}