<aside id="sticky-social">
    <ul>
        <li><a href="javascript:void(0)" id="locListBtn" ng-click="locationListModal()" class="loc1 fa fa-location-arrow"><span>Location List</span></a></li>
        <li><a href="javascript:void(0)" id="locAddBtn" ng-click="locationAddModal(); config_form('add');" class="loc2 fa fa-plus-square"><span>Add Location</span></a></li>
    </ul>
</aside>
<div class="filters">
	<div ng-repeat="loadCrimetypes in crimetypes" style="margin-top:5px; margin-left:10px;"><input type="checkbox" style="position: relative !important; left: 0px !important; opacity: 1 !important;" checked onchange="filterCategory(this)" data-crimeTypesId="{{loadCrimetypes.cm_ct_id}}"/> {{loadCrimetypes.cm_ct_name}}</div>
	<div class="sign"><center>Filters</center></div>
</div>
<div id="map" style="width:100%;height:90vh;position:absolute;"></div>
<div id="locList" class="IOne-modal">

  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times</span>
      <center><h5>Location List</h5></center>
    </div>
    <div class="modal-body">
	<table class="responsive-table highlight striped bordered centered">
	  <thead>
		<tr>
			<th data-field="Title">Title</th>
			<th data-field="Description">Description</th>
			<th data-field="Location">Location</th>
			<th data-field="Location">Action</th>
		</tr>
	  </thead>
	  <tbody>
		<tr ng-repeat="loadCrimes in crimes">
		  <td><a href="javascript:void(0);" ng-click="config_form('edit');" onclick="focusToMap(this)" data-id="{{loadCrimes.cm_cs_id}}" data-lat="{{loadCrimes.cm_cs_latitude}}" data-lng="{{loadCrimes.cm_cs_longitude}}">{{loadCrimes.cm_cs_title}}</a></td>
		  <td>{{loadCrimes.cm_cs_description}}</td>
		  <td>{{loadCrimes.cm_cs_address}}</td>
		  <td><a href="javascript:void(0);" ng-click="destroy(loadCrimes.cm_cs_id,loadCrimes.cm_cs_title)">Remove</a></td>
		</tr>
		
	  </tbody>
	</table>
    </div>
    <div class="modal-footer">
      <h6>Drag the pin that have text "Drag Me" to get position coordinates to the form</h6>
    </div>
  </div>

</div>

<div id="locAdd" class="IOne-modal">

  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times</span>
      <center><h5>{{titleForm}}</h5></center>
    </div>
    <div class="modal-body">
	<form ng-submit="save();">
	
		<div class="row">
			<div class="col s12 m6 l6"><p>
					<div class="input-field col s6">
						<select id="select-city" ng-model="contentForm.cm_cs_city_id" ng-options="loadCities.cm_ci_id as loadCities.cm_ci_name for loadCities in cities" class="browser-default">
						<option value="" disabled>City</option>
						<option ng-repeat="loadCities in cities" value="{{loadCities.cm_ci_id}}">{{loadCities.cm_ci_name}}</option>
						</select>
					</div>
					
					<div class="input-field col s6">
						<select id="select-crimeTypes" ng-model="contentForm.cm_cs_crimestype_id" ng-options="loadCrimetypes.cm_ct_id as loadCrimetypes.cm_ct_name for loadCrimetypes in crimetypes" class="browser-default">
						<option value="" disabled>Crime Types</option>
						<option ng-repeat="loadCrimetypes in crimetypes" value="{{loadCrimetypes.cm_ct_id}}">{{loadCrimetypes.cm_ct_name}}</option>
						</select>
					</div>
			</p></div>
			<div class="col s12 m6 l6"><p>
				<div class="input-field col s12">
					<input id="title" ng-model="contentForm.cm_cs_title" type="text" value="The Title" class="validate">
					<label for="title">Title</label>
				</div>
			</p></div>
		</div>
		<div class="row">
			<div class="col s12 m6 l6"><p>
				<div class="input-field col s12">
					<textarea id="address" ng-model="contentForm.cm_cs_address" class="materialize-textarea">The Address</textarea>
					<label for="address">Address</label>
				</div>
			</p></div>
			<div class="col s12 m6 l6"><p>
				<div class="input-field col s6">
					<textarea id="latitude" ng-model="contentForm.cm_cs_latitude" class="materialize-textarea">Type the Latitude</textarea>
					<label for="latitude">(Position) Latitude</label>
				</div>
				<div class="input-field col s6">
					<textarea id="longitude" ng-model="contentForm.cm_cs_longitude" class="materialize-textarea">Type the Longitude</textarea>
					<label for="longitude">(Position) Longitude</label>
				</div>
			</p></div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12"><p>
				<div class="input-field col s12">
					<textarea id="description" ng-model="contentForm.cm_cs_description" class="materialize-textarea">Tell the Description</textarea>
					<label for="description">Description</label>
				</div>
			</p></div>
		</div>
		<div class="row">
			<div class="col s12"><p>
				
				<center>
					<button class="btn waves-effect waves-light" type="submit">Submit
						<i class="material-icons right">send</i>
					</button>
				</center>	
			
			
			</p></div>
		</div>
	
	</form>
    </div>
    <div class="modal-footer">
      <h6>Drag the pin that have text "Drag Me" to get position coordinates to the form</h6>
    </div>
  </div>

</div>
<div id="snackbar"></div>
