<div class="navbar-fixed">
<nav>
	<div class="nav-wrapper">
	  <a href="#/" class="brand-logo left" style="margin-left:10px; padding-top: 10px;"><img src="img/logo.png" width="50"/> <span class="hide-on-med-and-down" style="margin-top:-11px; position: absolute;margin-left: 10px; font-size: large;">Crimes Map</span></a>
	  <ul id="nav-mobile" class="right">
		<li><a href="#/" class="hide-on-med-and-down">Homepage</a></li>
		<li><a href="#open-map">Find Crimes on Map</a></li>
	  </ul>
	</div>
</nav>
</div>