<center class="body-container">
	<h1 class="homepage-text-color">Welcome to Crimes Map</h1>
	<div style="clear:both;"></div>
	<div class="nav-wrapper body-links">
	  <div class="col s6">
		<a href="#!" style="color:#000;" class="breadcrumb">Crimes Map Web Application</a>
		<a href="#!" style="color:#000;" class="breadcrumb">Homepage</a>
	  </div>
	</div>
			
</center>